body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: center;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

/*------------------ TABLE ------------------*/

.zone-header {
  font-weight: bold;
  background-color: #229954;
  text-align: center;
  color: white;
}

.zone-row td {
    padding-top: 10px;
}

#peaks-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#peaks-table td, #peaks-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#peaks-table tr:nth-child(even){background-color: #f2f2f2;}

#peaks-table tr:hover {background-color: #ddd;}

#peaks-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #229954;
  color: white;
}

.main-peak tr {
  font-weight: bold;
}

.removed-peak tr{
  text-decoration: line-through;
  opacity: 0.5;
  background-color: #ffe6e6; /* Very light red background */
}
/*------------------ NAVIGATION BAR ------------------*/

ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.horizontal li {
  float: left;
}

ul.horizontal li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.horizontal li a:hover:not(.active) {
  background-color: #000;
}

ul.horizontal li a.active {
  background-color:#229954;
}

.width94 {
width:94%;
}
@media screen and (max-width: 600px) {
  .width94 {
     width:100%;
  }
}

ul.gray {
border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

ul.gray li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.gray li a:hover:not(.active) {
  background-color: #ddd;
}

ul.gray li a.active {
  color: white;
  background-color: #229954;
}
.rightli {
float:right;
}

@media screen and (max-width: 408px) {
  .rightli {
     display:none;
  }
}

ul.ex {
width:90%;
}
@media screen and (max-width: 600px) {
  ul.ex {
     width:100%;
  }
}

ul.divider li {
  float: left;
  border-right:1px solid #bbb;
}

ul.divider li:last-child {
  border-right: none;
}
ul.border {
  border: 1px solid #555;
}

ul.border li a {
  padding: 8px 16px;
}

ul.border li {
  text-align: center;
  border-bottom: 1px solid #555;
}

ul.border li:last-child {
  border-bottom: none;
}
